.img-container {
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
}

.header-image-mobile {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.header-image-desktop {
  display: none;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.header-title {
  color: var(--white);
  position: absolute;
  font-size: 2.5rem;
  text-transform: uppercase;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-family-heading);
  z-index: 1;
}

.arrow {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 2rem;
}

@media (min-width: 700px) {
  .header-image-desktop {
    display: block;
  }

  .header-image-mobile {
    display: none;
  }

  .arrow {
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}
