.navbar-container-mobile {
  display: flex;
  position: absolute;
  justify-content: space-between;
  padding: 1.5rem 1rem 1rem;
  width: 100%;
  z-index: 1;
}

.navbar-menu {
  background-color: var(--white);
  position: absolute;
  width: 90%;
  top: 20%;
  left: 5%;
  z-index: 2;
  padding-bottom: 2rem;
}

.navbar-menu-links {
  text-align: center;
  font-family: var(--font-family-paragraph);
  color: var(--grayish-blue);
}

.navbar-menu-link {
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.navbar-menu-button {
  border: none;
  margin-top: 1rem;
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: var(--font-family-heading);
  background-color: var(--yellow);
  color: var(--very-dark-desaturated-blue);
  cursor: pointer;
  text-transform: uppercase;
}

.navbar-menu-button:hover {
  background-color: hsla(51, 100%, 49%, 0.589);
}

.navbar-container-desktop {
  display: none;
  position: absolute;
  justify-content: space-between;
  padding: 3rem 4rem 0rem;
  width: 100%;
  z-index: 1;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50ch;
}

.nav-link {
  cursor: pointer;
  align-self: center;
  font-family: var(--font-family-paragraph);
  color: var(--white);
}

.contact-button {
  border: none;
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: var(--font-family-heading);
  background-color: var(--white);
  color: var(--very-dark-desaturated-blue);
  cursor: pointer;
  text-transform: uppercase;
}

.contact-button:hover {
  color: var(--white);
  background-color: hsla(0, 0%, 100%, 0.39);
}

.website-logo {
  color: var(--white);
  font-size: 1.3rem;
  font-family: var(--font-family-paragraph);
}

.hamburger-menu:hover {
  cursor: pointer;
}

.hamburger-menu-button-wrapper {
  border: none;
  background-color: transparent;
}

@media (min-width: 55rem) {
  .navbar-container-mobile {
    display: none;
  }

  .navbar-container-desktop {
    display: flex;
  }

  .website-logo {
    font-size: 2rem;
  }

  .navbar-menu {
    display: none;
  }
}
