.gallery {
  width: 100%;
}

.gallery-img-mobile {
  display: block;
  width: 100%;
}

.gallery-img-desktop {
  display: none;
  width: 100%;
}

@media (min-width: 55rem) {
  .gallery-img-mobile {
    display: none;
  }

  .gallery-img-desktop {
    display: block;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
