.grid-art-row-two {
  text-align: center;
}

.grid-two-img {
  width: 100%;
}

.grid-two-text {
  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
}

.grid-two-text-header {
  color: var(--very-dark-desaturated-blue);
  font-size: 2rem;
  font-family: var(--font-family-heading);
  line-height: 2.5rem;
}

.grid-two-text-paragraph {
  color: var(--dark-grayish-blue);
  font-family: var(--font-family-paragraph);
  margin-top: 1.5rem;
  line-height: 1.5rem;
  word-spacing: 0.031rem;
  margin-bottom: 1rem;
}

.grid-two-text-button {
  font-size: 1rem;
  font-family: var(--font-family-heading);
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: underline hsla(7, 99%, 70%, 0.397) 4px;
  padding-bottom: 0;
}
